.login-form {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  padding-top: 25px;
  padding-bottom: 10px;
  width: 450px;
  .simple_form {
    width: 400px;
  }
  .form-actions {
    display: flex;
    justify-content: center;
  }
  .form-label {
    font-family: 'Raleway', sans-serif;
    font-size: 12pt;
    font-weight: bolder;
    text-transform: capitalize;
  }
  .btn {
    font-family: 'Raleway', sans-serif;
    font-size: 12pt;
    font-weight: bolder;
    text-decoration: none;
    color: #1a1423;
    transition: 0.3s;
    &:hover {
      color: #c47335;
    }
  }
}

.shared-links {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

.shared-links a {
  font-family: 'Raleway', sans-serif;
  font-size: 12pt;
  font-weight: bolder;
  text-decoration: none;
  color: #1a1423;
  transition: 0.3s;
  &:hover {
    color: #c47335;
  }
}

.frame {
  background-image: url(blank-canvas);
  border:solid 5vmin #eee;
  border-bottom-color:#fff;
  border-left-color:#eee;
  border-radius:2px;
  border-right-color:#eee;
  border-top-color:#ddd;
  box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
  box-sizing:border-box;
  display:inline-block;
  margin:10vh 10vw;
  padding-bottom: 25px;
  position:relative;
  &:before {
    border-radius:2px;
    bottom:-2vmin;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
    left:-2vmin;
    position:absolute;
    right:-2vmin;
    top:-2vmin;
    content: inherit;
  }
  &:after {
    border-radius:2px;
    bottom:-2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    left:-2.5vmin;
    position:absolute;
    right:-2.5vmin;
    top:-2.5vmin;
    content: inherit;
  }
}
