.profile-title {
  margin-left: 40px;
}

h3 {
  margin-left: 40px;
}
.card-product {
  width: 750px;
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  // align-items: center;
  font-family: 'Raleway', sans-serif;
  border-radius: 5px;
}


.card-product .index-card {
  height: 100%;
  width: 200px;
  object-fit: cover;
  margin-right: 30px;
}

.index-card {
  border-radius: 0px;
}

.card-product button {
  margin-bottom: 0px;
  margin-top: 16px;
  width: 100px
}

.card-product-info {
  margin-top: 48px;
}

.button-card {
  padding-top: 88px;
}
