// background-colour
// rgba(249, 249, 246, 1)

// colours
// rgba(10, 9, 8, 1)
// rgba(34, 51, 59, 1)
// rgba(198, 172, 143, 1)
// rgba(94, 80, 63, 1)

.show_page {
  text-align: center;

}

.artwork_img {
  box-shadow: rgb(0, 0, 0);
  box-shadow: 30px;
  margin: auto;
}

.show-image {
  object-fit: cover;
}

a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

a:hover{
  color: rgba(255, 255, 255, 0.9);
}

button {
  text-align: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(34, 51, 59, 0.9);
  border-radius: 8px;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 35px;
  padding-left: 20px;
  padding-right: 20px;
}

button:hover {
  background-color: rgba(34, 51, 59, 0.8);
  color: rgba(255, 255, 255, 1);
}

.show_card {
  background-color: rgba(34, 51, 59, 0.9);
  color: rgba(255, 255, 255, 0.9);
  width: 400px;
  height: 30px;
  margin: auto;
  margin-top: 3px;
  text-align: center;
  padding: auto;
}

.artwork-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.booking-form {
  text-align: center;

}

.booking-form h1 {
  font-size: 24px;
}

#booking-frame {
  margin-right: 40px;
  margin-top: 40px;
  margin-left: 0px;
  height: 400px;
  padding: 32px 10px 10px 10px;
  background-color: rgba(34, 51, 59, 0.5);
  color: white;

}

.my-booking {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  padding: 16px;
}

.my-booking li {
  flex-direction: column;
}

.review-delete-button {
  display: flex;
  align-items: flex-end;
}

.review-add-button {
  margin: 0px;
}

.artwork-reviews {
  margin-left: 20px;
}

.review-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#delete-button {
  margin: 0px;
}

.review-head {
  margin-bottom: 16px;;
}

.left-container {
  margin-top: 16px;
}

.left-container h1 {
  margin-bottom: 16px;
}

.form-button {
}
