.show_page {
  text-align: center;
}

.artwork_img {
  box-shadow: 0 1px 1px rgba(0,0,0,0.12),
    0 2px 2px rgba(0,0,0,0.12),
    0 4px 4px rgba(0,0,0,0.12),
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
  margin: auto;
}

.show-image {
  object-fit: cover;
}

a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

a:hover{
  color: rgba(255, 255, 255, 0.9);
}

button {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(34, 51, 59, 0.9);
  border-radius: 8px;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 35px;
  padding-left: 20px;
  padding-right: 20px;
  &:hover {
    background-color: #C6AC8F;
  }
}

.info_card {
  margin: auto;
  margin-top: 25px;
  padding: 20px;
  background-color: white;
  font-family: 'Raleway', sans-serif;
  text-align: start;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12),
    0 2px 2px rgba(0,0,0,0.12),
    0 4px 4px rgba(0,0,0,0.12),
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
  width: 350px;
}

.artwork-container {
  display: grid;
  grid-template-columns: 4fr 2fr;
  padding-right: 150px;
}

.booking-form {
  text-align: center;
}

.booking-form h1 {
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  color: #1a1423;
  font-weight: bolder;
}

#booking-frame {
  margin-right: 40px;
  margin-left: 0px;
  margin-top: 16px;
  height: 400px;
  padding: 32px 10px 10px 10px;
  background-color: rgba(34, 51, 59, 0.5);
  color: rgba(34, 51, 59, 0.8);
}

.my-booking {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  padding: 16px;
}

.my-booking li {
  flex-direction: column;
}

.review-delete-button {
  display: flex;
  align-items: flex-end;
}

.review-add-button {
  margin: 0px;
}

.artwork-reviews {
  margin-left: 20px;
}

.review-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#delete-button {
  margin: 0px;
}

.review-head {
  margin-bottom: 16px;
}

.left-container {
  margin-top: 16px;
}

.left-container h1 {
  margin-bottom: 16px;
}

.artwork-banner {
  background-image: linear-gradient(transparent, #FAF9F6), url(gallery-lights);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 160px;
  justify-content: center;
  background: linear-gradient(0%, 30%, 66%, 100%);
  color: rgba(255, 255, 255, 0.8);
  padding-top: 40px;
  margin-bottom: 16px;
  h1 {
    font-family: 'Raleway', sans-serif;
    color: #1a1423;
    font-weight: bolder;
    font-size: 36pt;
  }
  em {
    font-family: 'Raleway', sans-serif;
    color: #1a1423;
    font-weight: bolder;
    font-size: 16pt;
  }
}

.form-button {
  &:hover {
    background-color: #C6AC8F;
  }
}

.review-head{
  display: flex;
  justify-content: center;
  flex-direction: column;
  h4 {
    font-family: 'Raleway', sans-serif;
    color: #1a1423;
    font-weight: bolder;
    padding-bottom: 20px;
  }
}
