<div data-controller="refresh-list">
  <div class="banner">
    <div>
      <h1>Gallery</h1>
      <div class="search-box">
        <%= form_with url: artworks_path, method: :get, html: { class: 'd-flex', data: { refresh_list_target: 'form' } } do |f| %>
          <%= f.text_field :query,
                                class: "form-control",
                                placeholder: 'Start search here',
                                value: params[:query],
                                data: {
                                refresh_list_target: 'searchInput',
                                action: "keyup->refresh-list#update"
                                }
          %>
          <%= submit_tag "Search", class: "btn-search" %>
          <% end %>

      </div>
    </div>
  </div>

  <%= render 'search', artworks: @artworks %>
</div>
