<div class="header">Gallery</div>
<div data-controller="refresh-list">
  <%= form_with url: artworks_path, method: :get, html: { class: 'mb-5', data: { refresh_list_target: 'form' } } do |f| %>
    <%= f.text_field :query,
                          class: "form-control",
                          placeholder: 'Start search here',
                          value: params[:query],
                          data: {
                          refresh_list_target: 'searchInput',
                          action: "keyup->refresh-list#update"
                          }
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  <%= render 'search', artworks: @artworks %>
</div>
