.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ced0d5;
  color: black;
  text-align: center;
}
.help {
  font-family: 'Franklin Gothic Medium';
  text-decoration: none;
  color: black;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;

  a {
    text-decoration: none;
    color: black;
    margin-left: 40px;
    margin-right: 40px;
  }

  a:hover {
    color:grey;
  }

  li {
    display: inline;
    text-decoration: none;
  }
  .navbar-brand {
    height: 30px;
  }

}
